* {
  color: whitesmoke;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
.container{
  width: 100%;
  height: 100vh;
  background: #161A3D;
  padding: 20px 100px;
}
.nav-bar{
  margin-bottom:70px ;
  display: flex;
  justify-content: space-between;
}
.logo span{
  color: #E05555;
}
.nav-links{
  display: flex;
}
.nav-links li{
  list-style-type: none;
}
  .nav-links li a{
  padding: 20px;
  color: whitesmoke;
  text-decoration: none;
}
.nav-links.active::after{
  content: "";
  position: absolute;
  bottom: -14px;
  right: 0px;
  height: 4px;
  width: 100%;
  background-color: green;
}




.about-me{
  height: 50vh;
  width: 50%;
  margin-bottom:70px ;
}
.info-about-me h5{
  line-height: 30px;
  font-weight: 400;
}
.about-me button{
  background-color: #E05555;
  border: none;
  padding: 10px;
}
